<!DOCTYPE html>
<html lang="en">

<header>
    <meta charset="utf-8">
    <title>列表排序</title>
    <script type="text/javascript" src="../common/vue.js"></script>
</header>

<style>
    *{
        margin: 0;
        padding: 0;
    }

    table{
        width: 330px;
        overflow: hidden;
        margin: 0px auto;
        border-collapse:collapse;
    }

    thead tr th{
        border: 1px solid gray;
        height: 20px;
        line-height: 20px;
        background-color: rgb(221, 216, 216);
    }

    tbody tr td{
        border: 1px solid gray;
        height: 20px;
        line-height: 20px;
    }

    .ident{
        text-align: center;
        line-height: 20px;
    }
</style>

<body>
    <div id='root'>
        <div style="width: 400px; overflow: hidden; margin: 40px auto 10px;">
            <!-- 使用input属性实现
            <input type="text" v-model="keyword" @input="searchData" placeholder="请输入过滤条件"> -->

            <!-- 使用计算/监视属性-->
            <div style="float: left; height: 25px; width:150px; margin-right: 20px;">
                <input type="text" v-model="keyword" placeholder="请输入过滤条件">
            </div>
            <div style="float: left; height: 25px;width: 200px">
                <button style="width: 40px;" @click='ascsort'>升序</button>
                <button style="width: 40px;" @click='descsort'>降序</button>
            </div>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            姓名
                        </th>
                        <th>
                            年龄
                        </th>
                    </tr>
                </thead>
                <tbody v-for="(item, index) in persions" :key="index">
                    <tr class="ident">
                        <td>
                            {{index + 1}}
                        </td>
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.age}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>
    const vm = new Vue({
        el:'#root',
        data(){
            return {
                keyword: '',
                sortasc: true,
                // persions:[],
                persionraw:[
                    {
                        id: 1,
                        name: '马冬梅',
                        age: 10,
                    },
                    {
                        id: 2,
                        name: '周冬雨',
                        age: 20,
                    },
                    {
                        id: 3,
                        name: '温兆伦',
                        age: 30,
                    },
                    {
                        id: 4,
                        name: '周杰伦',
                        age: 40,
                    }
                ],
            }
        },
        methods: {
            reFillPersionsByName(keyword, sort) {
                swapPersions = []
                //没技巧的写法
                // for (let i = 0; i < this.persionraw.length; i ++){
                //     if (this.persionraw[i].name.indexOf(keyword) > -1){
                //         swapPersions.push(this.persionraw[i]);
                //     }
                // }
                // return swapPersions

                //过滤写法
                swapPersions = this.persionraw.filter((item)=>{
                    return item.name.indexOf(keyword) > -1;
                })

                swapPersions.sort(function(value1, value2){
                    if (value1.age > value2.age){
                        return 1
                    } else {
                        if (value1.age < value2.age){
                            return -1
                        }
                        else {
                            return 0;
                        }
                    }
                })
                
                if (sort == false) {
                    swapPersions.reverse();
                }

                return swapPersions;
            },
            searchData(){
                this.reFillPersionsByName(event.target.value);
            },
            ascsort(event){
                this.sortasc = true
            },
            descsort(event){
                this.sortasc = false
            }
        },
        watch:{
        },
        computed:{
            persions: {
                    get(){
                        return this.reFillPersionsByName(this.keyword, this.sortasc)
                    }
            }
        },
    })
</script>

</html>